<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/showCourse/<%= courseId%>">
            <%= course.name %>
          </a></li>
          <li class="breadcrumb-item"><a href="/showProblemSet/<%= courseId%>/<%= problemSet._id%>">
            <%= problemSet.name %>
          </a></li>
         
      </ol>
    </nav>

    <h1>PRA</h1>


    <h3 class="pb-2 border-bottom">
      <%= problem.description %> 
    </h3>
    <% if (problem.mimeType=='markdown') { %>
      <div class="bg-default border border-dark rounded border-2 p-3"
      ><%- markdownText %>
      </div>
    <% } else  {%>
      <div class="bg-default border border-dark rounded border-2" 
           style="white-space: pre-wrap; font-family:monospace; padding:10px"
          ><%= problem.problemText %>
      </div>
    <% } %>


      <hr>
     



      <% // if the user answered the question, show the answer
         if ( usersAnswers.length> 0) { %>
            <h2>Your Answer</h2>
            <small>Submission time and date:<%= problem.createdAt %>
            </small>
            <% if (problem.answerMimeType!='image') { %>
                <pre style="background-color:lightgreen"><%=  usersAnswers[0].answer %></pre>
            <% } else { %>
                <img src="<%= usersAnswers[0].imageFilePath %>" 
                alt="answer picture" 
                class="img-fluid">
              <% } %>
            
            <hr>
            
            <% } %>

            <% // if the user answered the question, show the answer
         if  (usersAnswers.length> 0) { %>
            <a href="/reviewAnswers/<%= courseId%>/<%= psetId%>/<%= probId %>" 
              class="btn btn-small btn-warning">
              Review others answers</a>
            <hr>
            <a href="/showAllAnswers/<%= courseId %>/<%= problem._id %>" 
              class="btn btn-small btn-danger">
              Show all answers</a>
            <hr>
      <% } %>


      <% // a user can see the reviews of their answer, 
         // if they answered the question
         // whether or not it is peer-reviewable
          if ( theAnswer.numReviews>0) { %>
        <a href="/showReviewsOfAnswer/<%= courseId%>/<%= psetId%>/<%=  usersAnswers[0]._id %>?personal=true" 
            class="btn btn-small btn-info">
          Reviews of your answer</a> <br>
      <% } %>

      

    

          

          
        




      <%  if (
           (problemSet.status=='released')
           && ( usersAnswers.length==0 || status=='open') 
           && !isStaff) { 
        // show the form to input the answer if the user has not answered the question
        // or if it is in save mode not submit mode
        // but staff don't ever answer questions, so they don't see this
        %>
        <hr>
        <% if (problem.answerMimeType != 'image'){ %>
                <h3>Submit your answer as text below</h3>

                <form method="post" action="/saveAnswer/<%= courseId%>/<%= psetId%>/<%= problem._id %>">
                  <div class="form-group">
                    <label for="answer">Enter your answer below:</label>
                    <textarea class="form-control rounded-0" 
                            id="answer" name="answer" rows="10" 
                            style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"
                            ><%=theAnswer.answer%></textarea>
                  </div>
                  <br>
                 
                 
                    
                    <input class="btn btn-lg btn-danger" type="submit" value="submit answer text">
                    
                    <a class="btn btn-primary" 
                    href="/showProblemSet/<%= problem.courseId %>/<%= problem.psetId %>">
                   Return to Problem Set without Saving</a>
          
          
                  <% // if there was an answer
                     if(theAnswer.createdAt){%>
                  <br>Last save at <%= theAnswer.createdAt
                                                                                  %>
                  
                  <% } %>
                </form>
                <% } else { %>
 
                <h3> Submit a photo of your answer</h3>
                
                <form method="post" action="/uploadAnswerPhoto/<%= courseId%>/<%= psetId%>/<%= problem._id %>" enctype="multipart/form-data">
                  <input type="file" id="picture" name="picture" accept="image/*" capture="environment" />
          
                  <% // draw a save or submit button
                  if(status=='submitable'){%>
                 <input class="btn btn-lg btn-danger" type="submit" value="submit answer photo">
                 <% } else{%>
                    <% if (theAnswer.imageFilePath){%>
                      <input class="btn btn-lg btn-warning" type="submit" value="retake photo"> OR
                      <a class="btn btn-lg btn-info" href="/showProblemSet/<%= courseId%>/<%= problemSet._id%>">
                        upload answer to next problem
                      </a>
                    <% }else { %>
                 <input class="btn btn-lg btn-warning" type="submit" value="save answer photo">
                  <% } %>
                 <% }%>
                 <% if (theAnswer.imageFilePath){%>
                 <img src="<%= theAnswer.imageFilePath %>"
                      alt="answer picture" 
                      width="100%"
                      >
                      <% } %>
                </form>
               

              <% } %>
          </div>
       
      <hr>
     
      <hr>
      <% }%>

     

        
    </div>


  </div>
</div>
<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>