<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-lg-5 p-4 mb-4 bg-light">
  <div class="container-fluid ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/showCourse/<%= courseId%>">
            <%= course.name %>
          </a></li>
          <li class="breadcrumb-item"><a href="/showProblemSet/<%= courseId%>/<%=psetId%>">
            <%= problemSet.name %>
          </a></li>
          <li class="breadcrumb-item active" aria-current="page">
            add problem </li>
      </ol>
    </nav>
    <h1>Problem Search Page
    </h1>
    <hr>
    <% if (skill) { %>
      <h2>Selected Skill: <b><%= skill.shortName %></b>::<%= skill.name %></h2>
      <i><%= skill.description%> </i>
    <h2>Problems for selected skill which haven't been used in this class</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr><th>problem</th><th>add to pset</th><th>createdAt</th><th>last use</th></tr>
      </thead>
      <tbody>
        <% if (newProblems.length == 0) { %>
          <tr><td>No new problems found for this skill</td></tr>
        <% } else {  newProblems.forEach(problem => { 
          const now = new Date();
          %>
            <tr>
                <td><a href="/showProblem/<%= courseId %>/<%= psetId%>/<%= problem._id %>"><%= problem.description %></a> </td>
                <td>
                <a href="/addProblemToPset/<%= courseId %>/<%= psetId %>/<%= problem._id %>/<%= skillId %>">Add to Problem Set</a></td>
                <td><%= problem.createdAt.toISOString() %></td>
                <td><%= problem.courseId.name %><br><%= problem.psetId.name %><br>
                  <%= ((now - psetMap[problem._id][0])/(1000*3600*24)).toFixed(6) %> days ago</td>
            </tr>
            <tr>
                <td colspan="5">
                   <textarea readonly rows="4" cols="80"><%= problem.problemText %></textarea>
                  <hr>
                </td>
            </tr>
          <% }); %>  
        <% } %>
      </tbody>
    </table>

    <hr>
    <hr>
        <h2>Already Used Problems for selected skill</h2>
        <table class="table table-bordered table-striped table-warning">
          <thead>
            <tr><th>problem</th><th>add to pset</th><th>createdAt</th><th>last use</th></tr>
          </thead>
          <tbody>
        <%  usedProblems.forEach(problem => { 
          const now = new Date();
          %>
            <tr>
                <td><a href="/showProblem/<%= courseId %>/<%= psetId%>/<%= problem._id %>"><%= problem.description %></a> </td>
                <td>
                <a href="/addProblemToPset/<%= courseId %>/<%= psetId %>/<%= problem._id %>/<%= skillId %>">Add to Problem Set</a></td>
                <td><%= problem.createdAt.toISOString() %></td>
                <td><%= problem.courseId.name %><br><%= problem.psetId.name %>: </td>
            </tr>
            <tr>
                <td colspan="5">
                   <textarea readonly rows="4" cols="80"><%= problem.problemText %></textarea>
                  <hr>
                </td>
            </tr>
          <% }); %>  
      </tbody>
    </table>

    <% } else { %>
      <h1>You need to specify a skill!</h1>
   
   <% } %>

  </div>
</div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>