<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/showCourse/<%= course._id%>">
            <%= course.name %>
          </a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <%= problemSet.name.trim()%> </li>
      </ol>
    </nav>
    <h1 class="pb-2 border-bottom">
      <%= problemSet.name.trim() || "Problem Set" %>
    </h1>

                 
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <% if (problemSet.status=="in-prep") { %>
              <b>in-prep</b>
              <% } else { %>
                <a style="pointer-events:none; color:gray" 
                   href="/updatePsetStatus/<%= courseId%>/<%= psetId%>/in-prep">
                  in-prep</a> 
              <% } %>
          </li>
          <li class="breadcrumb-item">
            <% if (problemSet.status=="released") { %>
              <b>released</b>
              <% } else { %>
                <a style="pointer-events:none; color:gray" 
                  href="/updatePsetStatus/<%= courseId%>/<%= psetId%>/released">
                  released</a>
              <% } %>
          </li>
          <li class="breadcrumb-item">
            <% if (problemSet.status=="grading") { %>
              <b>grading</b>
              <% } else { %>
                <a style="pointer-events:none; color:gray" 
                  href="/updatePsetStatus/<%= courseId%>/<%= psetId%>/grading">
                  grading</a>
              <% } %>
          </li>
          <li class="breadcrumb-item">
            <% if (problemSet.status=="graded") { %>
              <b>graded</b>
              <% } else { %>
                <a style="pointer-events:none; color:gray" 
                  href="/updatePsetStatus/<%= courseId%>/<%= psetId%>/graded">
                  graded</a>
              <% } %>
          </li>

      </ol>
    </nav>


    <div class="p-2">
      <% if (problemSet.status=="released"){ %>
        The problems below are the ones from this problem set on skills
        that you have not yet mastered. 
        <br>
        Click on the link(s) to upload your answers.
        <%} else {%>
        Problems
          <% } %>

      <ul>
        <% for(i=0; i<problems.length; i++){ 
          const numSkillsToMaster=
            problems[i].skills
            .filter( 
                    (skill)=>
                      !skillsMastered.includes(skill._id.toString())
                  ).length; 
          %>



          <% if (
                  (problemSet.status=="released" && numSkillsToMaster>0)
                  // if the problem set is released, only show problems they have not mastered              
              ) 
           { %> 
            <li>
              <a href="/showProblem/<%= courseId%>/<%= psetId %>/<%= problems[i]._id %>">
                <%= problems[i].skills[0].shortName || "no skill" %>:
                <%= problems[i].description || "no name" %> A
              </a>
              <% if (problemsAnswered.includes(problems[i]._id.toString())) { %>
                <span class="text-danger">ANSWERED</span>
              
              <% } %>
            </li>
        <% } else if ((problemSet.status!="released")  
                     && problemsAnswered.includes(problems[i]._id.toString())) {
      // if the problem set is not released, only show problems they have answered %>
            <li >
              <a href="/showProblem/<%= courseId%>/<%= psetId %>/<%= problems[i]._id %>">
                <%= problems[i].description || "no name" %> 
                </a>
                <% if (numSkillsToMaster==0){ %> 
                   <span class="text-info">MASTERED</span>  
                <% } else { %>
                  <span class="text-danger">not mastered yet</span>  
                  <br>
                  <%= problems[i].skills[0].shortName || "no skill" %>:
                <%= problems[i].skills[0].description || "no name" %> A
                <% } %>

              
            </li>
        <% } %>
      <% } %>

      </ul>


      <hr>
   

          
    </div>

  </div>
</div>


<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>