<%- include('./bootheader') -%>
<%- include('./menubar') -%>

<div class="p-3 mb-4 bg-light">
    <div class="container-fluid ">
        <h1>
          <%= course.name %>
        </h1>

        Welcome <i><%= name%> (<%= email%>) </i>
       <hr>
        
        </div>
        <p> Proportion of questions answered <%= (numAnswered/numQuestions).toFixed(2) %>/1.0
        </p>
        <p>
        You have answered <%= numAnswered %> questions in this course
        out of <%= numQuestions %> questions in total for 
        a percentage of <%= (numAnswered/numQuestions*100).toFixed(1) %>%.
        </p>

        <h3>Problem Sets</h3>
        <ul>
        <% for (exam of problemSets) { %>
            <% if (exam.status == "released") { %>
                <li>
                  <a href="/showProblemSetToStudent/<%= course._id%>/<%= exam._id%>">
                    <%= exam.name %></a>
                </li>
            <% } %>
        <% } %>
        </ul>

    </div>
</div>

<%- include('./bootfooter') -%>
<%- include('./htmlfoot') -%>