<!-- This will only be seen by course teaching staff 
   - TAs, instructors, guest instructors 
   currently, this just shows them the problem text
-->
<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/showCourse/<%= courseId%>">
            <%= course.name %>
          </a></li>
          <li class="breadcrumb-item"><a href="/showProblemSet/<%= courseId%>/<%= problemSet._id%>">
            <%= problemSet.name %>
          </a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <%= problem.description %> </li>
      </ol>
    </nav>


    <h3 class="pb-2 border-bottom">
      <%= problem.description %>
      <% if (isOwner){ %>
        <a href="/editProblem/<%= problem.courseId%>/<%= problem._id %>">
          <i class='fas fa-pen' style='font-size:24px'></i> 
        </a>
      <% } %>
    </h3>
    <div class="p-2">
                mimeType=<%= problem.mimeType %><br>
                answerMimeType=<%= problem.answerMimeType %>
    </div>

      <% if (problem.mimeType=='markdown') { %>
        <div class="bg-default border border-dark rounded border-2 p-3"
        ><%- markdownText %>
        </div>
      <% } else  {%>
        <div class="bg-default border border-dark rounded border-2" 
             style="white-space: pre-wrap; font-family:monospace; padding:10px"
            ><%= problem.problemText %>
        </div>
      <% } %>

    <% if (course.courseType=="mla1" ) {%>
      <hr>
      <h3>Plagiarism detection:on</h3>
        <a href="/downloadAnswers/<%= courseId%>/<%= problem.id %>">
          download answers to check for plagiarism</a>
        <br>
    <% } %>
<hr>
    <a href="/reviewAnswers/<%= courseId%>/<%= psetId%>/<%= probId %>" 
      class="btn btn-small btn-warning">
      Review others answers</a>

      <a href="/showReviewsByUser/<%= courseId%>/<%= psetId%>/<%= problem._id %>" 
        class="btn btn-small btn-info">
        Your Reviews of other's answers</a>

     <a href="/showAllAnswers/<%= courseId %>/<%= problem._id %>" 
         class="btn btn-small btn-danger">
         Show all answers</a>



    </div>
  </div>
</div>
<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>