<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">
      <%= courseInfo.name %>
      <% if (isOwner) { %>
        <a href="/editCourse/<%= courseInfo._id %>" >
          <i class='fas fa-pen' style='font-size:24px'></i> 
        </a>
        <% } %>
    </h1>
    <div class="p-2">
      studentPin: <%= courseInfo.coursePin %>
      <hr>

      <% if (isTA || isOwner) { %>
        <h2>Students and Teaching Staff</h2>
          <ul><li>
        <a  href="/showRoster/<%= courseInfo._id %>">
          Show/Update Roster
        </a>
      </li><li>
        <a href="/showTAs/<%= courseInfo._id %>" >
          Show/Update TAs
        </a>
      </li><li>
        <a  href="/showMastery/<%= courseInfo._id %>">
          Show Mastery
        </a>
   
      </li></ul>
  
  
      <%} %>
      <hr>

      <h2>Exams
        <% if (isOwner) { %>
      <a href="/addProblemSet/<%= courseInfo._id %>">
        <i class='fas fa-plus' style='font-size:24px'></i> 
      </a>
      <% } %>
      </h2>
      <ul>
        <% for(i = 0; i<= problemSets.length-1; i++){ %>
        <%
             if (!problemSets[i].visible && !(courseInfo.ownerId==user.id)) continue
             else if (courseInfo.ownerId==user.id && !problemSets[i].visible) {
                 %> <li> HIDDEN
          <% } else { %>
        <li>
          <%}%>


            <a href="/showProblemSet/<%= courseInfo._id%>/<%= problemSets[i]._id %>">
                <%= problemSets[i].name.trim() || "problem set" %>
            </a>
            (<%= problemSets[i].status %>)


        </li>
        <% } %>
      </ul>

       <hr>

     
    <hr>
    <h2>Skills
      <% if (isOwner) { %>
        <a href="/addSkill/<%= courseInfo._id %>">
          <i class='fas fa-plus' style='font-size:24px'></i> 
        </a>
        <a href="/showSkills/<%= courseInfo._id %>" >
          <i class='fas fa-pen' style='font-size:24px'></i> 
        </a>
        <% } %>
    </h2>
    <i>ShortName: Name -- Level <br>(F for fundamental, G for general)</i>
    <ul>

      <% for(i = 0; i< allSkills.length; i++){%>
      <li>
        <a href="/showSkill/<%=courseInfo._id%>/<%= allSkills[i]._id %>">
          <%= allSkills[i].shortName %>: <%= allSkills[i].name %> 
          -- <%= allSkills[i].level %>
        </a>
      </li>
      <% } %>
    </ul>

  

      
      <hr>
      <% if (course.courseType != 'mla0') { %>


     
        <hr>
        <h2>Grading</h2>
        <ul><li>
      <a 
         href="/showRegradeRequests/<%= courseInfo.id %>"
         >
         Show Regrade requests (<%= regradeRequests.length %> outstanding)
      </a>
      </li></ul>  

      <% } %>
      <hr>
      
       

      <br>



      <a href="/" class="btn btn-sm btn-danger">
        Back to Home
      </a>



    </div>
  </div>

</div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>