<%- include('bootheader') -%>
<%- include('menubar') -%>
        <div class="p-3 mb-4 bg-light">
            <div class="container-fluid ">
                <div class="p-2">
<script type="text/javascript" src="/js/clickThumb.js"></script>
    <hr>
    <h1>Reviews of Answer to Student</h1>

    <h1>Review of your answer to</h1>
    <h3><%= problem.description %></h3>
    <b>The Question</b>
    <div class="bg-default" style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"
    ><% if (problem.mimeType != 'tex'){ %><%- markdownText %><%
    } else { %>Tex answers are hidden.   <%} %></div>

    <b>Submitted Answer</b>
    <small>Submission time and date:<%= answer.createdAt %> </small>
    <% if (!answer.imageFilePath) {%>
        TEXT ANSWER:<br>
    <pre class="bg-warning"
         style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"
         ><%= answer.answer %></pre>
    <% } else { %>
    <img src="<%= answer.imageFilePath %>" width="50%">
        <% } %>

<hr>
     <b>Official Review</>




            
  
            <div class="bg-info mb-3 p-4" >
                <%= review.review %>
             </div>
        <hr>

        <b>Skills Mastered:</b>
        <% let fullskills = review.skills ; 
           if (fullskills.length==0) {%>
            <ul>
                <li class="text-danger p-3 mb-1">
                    <b>no skills mastered</b>
                </li>
            </ul>
        <%}else {%>

        <ul>
        <% fullskills.map((x) => {%>
            <li>
                <span  style="padding:5px;color:red">
                    <%= x['name']%>
                </span>
            </li>
         <%}) %>
         </ul>
        <% }%>


           

        </li>

    </ul>
    <hr>

<pre><%= JSON.stringify(reviews,null,5)%> </pre>

    
    <h3 style="margin-top:20px;border-top:thick solid black">
        Regrade Requests</h4>
    <ul>
    <% let outstanding = 0;
       for(let i=0; i<regradeRequests.length; i++){
          
          rr = regradeRequests[i];
          if (rr.completed) continue;
          else outstanding += 1;
          %>
          
          <li>
              reason:<br>
<pre class="bg-warning"
         style="border:thin solid black; white-space: pre-wrap; font-family:monospace; padding:10px"
><%= rr.reason %>
          </pre><br>
              createAt:<%= rr.createdAt %><br>
      
       <hr>
       </li>
    <% }%>
    <% if ((outstanding==0) && (fullskills.length==0)) {%> 
        <li><%= outstanding %> outstanding regrade requests<br>
            If you think the grading is incorrect, then you can Submit
            a regrade request. The request will be reviewed by the staff.
            <% if (answer.studentId==user.id) {%>

                <form method="post" action="/requestRegrade/<%= courseId%>/<%= review._id %>">
                    Regrade request:
                    Reason:<br>
                    <textarea name="reason" style="width:100%"></textarea>
                    <hr>


                    <input type="submit" value="request regrade">
                </form>
            <% } %>
        </li>
    <% } %>
    </ul>
    <h4> Completed regrade requests </h4>
    <ul>
    <% let completed = 0;
        for(let i=0; i<regradeRequests.length; i++){
          rr = regradeRequests[i];
          if (!rr.completed) continue;
          completed += 1; %>
          <li>

               <div style="padding:5px;background-color:yellow">
                   reason:<%= rr.reason %></div>
               <div style="padding:5px;background-color:lightgreen">reply:
                   <%= rr.reply %></div>
               <hr>

       </li>
    <% }%>
    <% if (completed==0) {%> 
        <li>
            No completed regrade requests
        </li>  
    <% } %> 

    </ul>
    <hr>
    <a href="/showProblem/<%= courseId %>/<%= psetId%>/<%= problem._id %>" class="btn btn-small btn-danger">Back to the Problem</a>
    <a href="/showProblemSet/<%= courseId %>/<%= psetId %>" class="btn btn-small btn-primary">Back to the Problem Set</a>


</div></div></div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>
