<%- include('./bootheader') -%>
<%- include('./menubar') -%>

<div class="p-3 mb-4 bg-light">
    <div class="container-fluid ">
        <h1>
          <%= course.name %></h1>

        Welcome <i><%= name%> (<%= email%>) </i>
       
        <% if (allSkills.length>0) { %>
        <h3> Skills mastered so far:  

            <%= skillsMastered.length %>/<%= allSkills.length %> = 
            <%= (skillsMastered.length/allSkills.length*100).toFixed(1) %>%</h3>

        </h3>
        <ul>
            <li>
                <%= numFskills %> Fundamental skills mastered
            </li>
            <li>
                <%= numGskills %> General skills mastered
            </li>
        </ul>

        <h3>Skill Mastery Details</h3>
        <i>The percentage of the class who have mastered each skill
        is in parentheses. </i>
   

        
        <div class="p-2">
            <ul>
            <% for (let i = 0; i < allSkills.length; i++) { 
                if (!skillCounts[allSkills[i]]) skillCounts[allSkills[i]] = 0;
                %>
                <li>
                    
                    <% let cm = 100*skillCounts[allSkills[i]] /
                    studentCount;
                        let b = 255 - cm*2.55;
                        let r = cm*2.55;
                    %>
                    <%= allSkills[i] %> 
                    <% if (skillsMastered.includes(allSkills[i])) { %>
                        <span style="color:green">
                            
                            (<%= (cm).toFixed(0) %>%) 
                        Mastered</span>
                    <% } else { %>
                        <span style="font-weight:bold;color:rgb(<%= r %>,0,<%= b %>)"> 
                            
                            (<%= (cm).toFixed(0) %>%)
                        </span> 
                    <% } %>
                    = <%= skillCounts[allSkills[i]] %>/<%= studentCount %>
                    
                </li>
            <% } %>
          </ul>
          
        <% } %>
        
        </div>

        <% if (problemSets.length>0) { %>
        <div>
            <h3>Exam Details</h3>
            <ol>
            <% for (let i = 0; i < problemSets.length; i++) { %>
                <li>
                    <a href="/showProblemSetToStudent/<%= course._id%>/<%= problemSets[i]._id%>">
                        <%= problemSets[i].name %> -- <%= problemSets[i].status %>
                    </a> 
                    Skills mastered: <%= problemSets[i].skillsMastered %> ....
                </li>
            <% } %>
            </ol>
        </div>
        <% } %>

    </div>
</div>

<%- include('./bootfooter') -%>
<%- include('./htmlfoot') -%>