<%- include('./bootheader') -%>
<%- include('./menubar') -%>

<div class="p-3 mb-4 bg-light">
    <div class="container-fluid ">
        <h1>
          <%= course.name %>
        </h1>

        Welcome <i><%= name%> (<%= email%>) </i>
       <hr>
       
        
        </div>

        

        <h3>Problem Sets</h3>
        <ul>
        <% for (exam of problemSets) { %>
            <% if (exam.status == "released") { %>
                <li>
                  <a href="/showProblemSetToStudent/<%= course._id%>/<%= exam._id%>">
                    <%= exam.name %></a>
                </li>
            <% } %>
        <% } %>
        </ul>

    </div>
</div>

<%- include('./bootfooter') -%>
<%- include('./htmlfoot') -%>