<%- include('bootheader') -%>
<%- include('menubar') -%>


<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/showCourse/<%= courseInfo._id%>">
            <%= courseInfo.name %>
          </a></li>
          <li class="breadcrumb-item active" aria-current="page">Teaching Assistants</li>
      </ol>
    </nav>


    <div class="p-2">

      <hr>
      <h3>Teaching Assistants</h3>
      <form method="post" action="/removeTAs/<%=courseInfo._id%>">
        <ul>
          <% for(i=0; i< tas.length; i++){ %>
          <li>
            <% if (isOwner) { %> 
            <input type="checkbox" name="ta" value="<%= tas[i]._id %>">
            <% } %>
            <b>
              <%= tas[i].googlename %>
            </b>
            <i>
              <%= tas[i].googleemail %>
            </i>
            <span>
              <%= tas[i]?.section %>
            </span>

          </li>
          <% } %>
        </ul>
        <% if (isOwner) { %>
        <input class="btn btn-primary" type="submit" value="remove selected TAs">
        <% } %>
      </form>
      <hr>
      <% if (isOwner) { %>
      <form method="post" action="/addTA/<%= courseInfo._id%>" class="col-lg-8">
        <div class="input-group"><label for="email" class="input-group-text">Email</label>
          <input class="form-control" type="text" name="email" placeholder="email"><br>
          <input class="form-control" type="text" name="name" placeholder="name"><br>
          <input class="form-control" type="text" name="section" placeholder="section number"><br>
          <input class="btn btn-warning" type="submit" value="add specified TA"><br>

        </div>
      </form>
      <% } else { %>

      <%} %>
      <hr>
      <a href="/showCourse/<%= courseInfo._id%>" class="btn btn-sm btn-danger">
        Back to Home
      </a>
    </div>

  </div>
</div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>