<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">
      <%= course.name.trim() || "Course" %>: 
      <%= problemSet.name.trim() || "Problem Set" %>
      (<%= problemSet.status %>)
    </h1>
    <div class="p-2">
      <% if (problemSet.status=="released"){ %>
        Upload your solutions to the problem below
        <%} else {%>
        Problems
          <% } %>

      <ul>
        <% for(i=0; i<problems.length; i++){ %>

          

          <% // find the problem skills that have not yet been mastered
             // in this problem...
             const numSkillsToMaster=
                problems[i].skills
                .filter( 
                        (skill)=>
                           !skillsMastered.includes(skill.toString())
                       ).length
                                        %>
          <% if (
                  (problemSet.status=="released" && numSkillsToMaster>0)
                  // if the problem set is released, only show problems they have not mastered
                  ||
                  (problemSet.status!="released") 
                    && problemsAnswered.includes(problems[i]._id.toString())
                  // if the problem set is not released, only show problems they have answered
              ) 
           { %> 
            <li>
              <a href="/showProblem/<%= courseId%>/<%= psetId %>/<%= problems[i]._id %>">
                <%= problems[i].description || "no name" %>
              </a>
            </li>
        <% }} %>
      </ul>


      <hr>
   

          
          <a href="/showCourse/<%= courseId %>" 
            class="btn btn-sm btn-primary">
            Back to Course</a>
    </div>

  </div>
</div>


<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>